<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo2.svg" alt="logo" width="264" height="78"></a>
            <p>
                A Touch of Thai offers genuine Thai massage experiences in Scarborough. Trusted for over a decade, we're where tradition meets relaxation.
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about/">About Us</a>
                    </li>
                    <li>
                        <a href="/reviews/">Reviews</a>
                    </li>
                    <li>
                        <a href="/gallery/">Gallery</a>
                    </li>
                    <li>
                        <a href="/contact/">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>
                        <a href="/sciatica-treatment/">Sciatica</a>
                    </li>
                    <li>
                        <a href="/thai-massage/">Thai Massage</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="{{client.address.mapLink}}">
                            {{client.address.lineOne}}<br>
                            {{client.address.city}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                    <li>
                        <a href="{{client.whatsApp}}">Click to WhatsApp</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">TWD</a>
        <span class="copyright">
            Copyright 2023 - Present</span>
    </div>
</footer>