---
title: 'About Us'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    parent: About
    key: About Us
    order: 210
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img decoding="async" src="/assets/images/int-hero.webp" alt="massage oil" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-867">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/hero.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
            <img loading="lazy" decoding="async" src="/assets/images/hero.webp" alt="hero" width="630" height="775">
        </picture>
        <div class="cs-content">
            <h1 class="cs-title">Discover the Essence of Thailand </h1>
            <p>
                At the heart of Scarborough lies a haven of serenity and traditional Thai rejuvenation: A Touch of Thai. Founded by the passionate and skilled Lisa, our spa embodies the timeless beauty and therapeutic traditions of southern Thailand.
            </p>
            <h3>Lisa's Journey</h3>
            <p>
                Hailing from the serene landscapes of southern Thailand, Lisa's love for Thai massage is deep-rooted in her heritage. After moving to the UK two decades ago, she realized a gap in the market for authentic Thai massages that genuinely encapsulate the essence of her homeland. This realization, combined with her longing for the tranquil vibes of Thailand, inspired Lisa to open A Touch of Thai a decade ago.
            </p>
            <p>
                Over the years, Lisa has worked tirelessly to ensure that every visitor to A Touch of Thai experiences the authentic touch of traditional Thai therapies, seamlessly blended with modern relaxation techniques. The techniques and traditions passed down through generations in Thailand are now at your fingertips in Scarborough, all thanks to Lisa's dedication and passion.
            </p>
            <h3>A Decade of Excellence</h3>
            <p>
                For the past 10 years, A Touch of Thai has stood as a testament to Lisa's commitment to sharing the therapeutic magic of Thai massages. We pride ourselves on delivering top-notch services that leave our clients feeling revitalized, rejuvenated, and deeply relaxed. Our team, handpicked by Lisa herself, consists of experts who have undergone rigorous training to ensure that the traditional Thai techniques are preserved and performed authentically.
            </p>
            <h3>Join Us in Our Sanctuary</h3>
            <p>
                Today, as we celebrate a decade of excellence, we invite you to step into our oasis and experience the unmatched serenity that is A Touch of Thai. Let Lisa and her team transport you to the serene landscapes of southern Thailand, right here in Scarborough.
            </p>
        </div>

        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<!--<section id="meet-team-860">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Expert Team</span>
                <h2 class="cs-title">Meet The Team Behind Their Success Story</h2>
            </div>
            <a href="" class="cs-button-solid">View All Members</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                   
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg">
                    
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Arlene MacCoy</span>
                    <span class="cs-job">Aesthetic Expert</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg">
                    
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Arlene MacCoy</span>
                    <span class="cs-job">Aesthetic Expert</span>
                </div>
            </li>
        </ul>
    </div>
</section>-->
                                

    {% include 'components/cta.html' %}

{% endblock %}