---
title: 'Contact'
description: 'Reach out to A Touch of Thai in Scarborough. Whether you have inquiries, feedback, or appointment requests, we are here to assist. Connect with us today.'
preloadImg: '/assets/images/int-hero.webp'
permalink: 'contact/'
eleventyNavigation:
    parent: About
    key: Contact
    order: 240
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/contact.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">Contact Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/contact" class="cs-link cs-active">Contact</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img decoding="async" src="/assets/images/int-hero.webp" alt="massage oil" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

     <!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="cs-contact-265">
    <div class="cs-container">
        <div class="cs-left-section">
            <div class="cs-content">
                <span class="cs-topper">Contact</span>
                <h2 class="cs-title">Send a Message</h2>
                <p class="cs-text">
                    We are ready to take your call or email. Let us know what we can do for you!
                </p>
            </div>
            <form id="cs-form-265" name="Contact Form" method="post" data-netlify="true"><input type='hidden' name='form-name' value='Contact Form' />
                <label>
                    Name
                    <input required type="text" id="name-265" name="name" placeholder="Name">
                </label>
                <label>
                    Email
                    <input required type="text" id="email-265" name="email" placeholder="Email">
                </label>
                <label>
                    Phone
                    <input required type="text" id="phone-265" name="phone" placeholder="Phone">
                </label>
                <label>
                    Where did you find us?
                    <input type="text" id="find-265" name="find us" placeholder="Where did you find us?">
                </label>
                <label class="cs-label-message">
                    Message
                    <textarea required name="Message" id="message-265" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Submit Message</button>
            </form>
        </div>
        <div class="cs-right-section">
            <!--Email-->
                <span class="cs-header">WhatsApp</span>
                <a class="cs-link" href="{{client.whatsapp}}">Contact Us</a>
                <span class="cs-header">Email</span>
                <a class="cs-link" id="contactId" href="mailto:{{client.email}}">Click to email</a>
                <!--Phone-->
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                <!--Address-->
                <span class="cs-header">Address</span>
                <a class="cs-link" href="{{client.address.mapLink}}">
                    {{client.address.lineOne}},
                    <span class="cs-block">
                        {{client.address.city}},
                        {{client.address.zip}}
                    </span>
                </a>

            <!-- Background Image-->
            <picture class="cs-bg-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/int-hero-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/int-hero-m.webp">
                <img loading="lazy" decoding="async" src="/assets/images/int-hero-m.webp" alt="building" width="542" height="662" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
{% endblock %}