---
title: 'Treatments'
description: "Explore A Touch of Thai's detailed price list. Discover our range of traditional Thai massages and modern therapies tailored for every budget in Scarborough."
preloadImg: '/assets/images/int-hero.webp'
permalink: 'treatments/'
eleventyNavigation:
    key: Treatments
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/price.css">
{% endblock %}

{% block body %}
  <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">Treatments</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/treatments" class="cs-link cs-active">Treatments</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img decoding="async" src="/assets/images/int-hero.webp" alt="massage oil" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Menu Group                  -->
<!-- ============================================ -->

<div id="cs-menu-group-1038">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-picture">
                <img class="cs-icon" decoding="async" src="/assets/svgs/logo.svg" alt="divider" width="181" height="36" aria-hidden="true">
            </picture>
            <h2 class="cs-title">Treatment List</h2>
            <div class="cs-button-group">
                <button class="cs-button" data-filter="one" onclick="window.location.href='#cs-menu-group';">
                    30 Mins
                </button>
                <button class="cs-button" data-filter="two" onclick="window.location.href='#cs-menu-group';">
                    60 Mins
                </button>
                <button class="cs-button" data-filter="three" onclick="window.location.href='#cs-menu-group';">
                    90 Mins
                </button>
            </div>
        </div>
        <!--30 min-->
        <div id="cs-menu2-1038" class="cs-menu-group" data-category="one">
            <!--30 min Section 1-->
            <section class="cs-menu">
                <div class="cs-container">
                    <div class="cs-menu-list">
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Traditional Masssage</span>
                                    <span class="cs-price">£35</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Thai massage combines acupressure, gentle stretching, and body movements to promote relaxation and flexibility. An ancient healing art for mind and body.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Oil Massage</span>
                                    <span class="cs-price">£35</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Thai oil massage blends smooth, flowing strokes with aromatic oils. A deeply relaxing experience that soothes muscles and enhances overall well-being.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Aromatic Oil Massage</span>
                                    <span class="cs-price">£35</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Aromatic oil massage utilizes fragrant essential oils to promote healing and a feeling of well-being. Gentle strokes release tension and boost mental tranquility.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Back & Neck & Shoulder Massage</span>
                                    <span class="cs-price">£35</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Back, Neck & Shoulder Massage targets key tension areas, offering relief from stress and muscle tightness. Ideal for a quick rejuvenation and posture realignment.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Deep Tissue Massage</span>
                                    <span class="cs-price">£35</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Deep tissue massage delves into the body's deeper muscle layers, relieving chronic pain and muscle tightness. Ideal for those with lingering injuries or tension.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot & Legs Massage</span>
                                    <span class="cs-price">£35</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Foot & Legs Massage focuses on soothing tired muscles and improving circulation, providing relief to weary feet and legs. A treat for those on their feet often.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot Masssage</span>
                                    <span class="cs-price">£30</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Foot massage targets specific pressure points, offering relaxation and promoting overall wellness. A soothing treat that can re-energize and balance the body.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Head Massage</span>
                                    <span class="cs-price">£30</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Head massage provides relief from tension, stimulates scalp circulation, and offers deep relaxation. A tranquil escape that can alleviate headaches and stress.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Hot Towel Massage - Foot Spa</span>
                                    <span class="cs-price">£30</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Hot Towel Massage - Foot Spa warms and soothes tired feet, combining moist heat with gentle massage. A luxurious treat that leaves feet feeling refreshed and pampered.
                                </p>
                            </div>
                        </div>
                    </ul>
                </div>
            </section>
        </div>
        <!--60 min-->
        <div id="cs-menu4-1038" class="cs-menu-group" data-category="two">
            <!--60 min Section 1-->
            <section class="cs-menu">
                <div class="cs-container">
                    <div class="cs-menu-list">
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Traditional Masssage</span>
                                    <span class="cs-price">£50</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Thai massage combines acupressure, gentle stretching, and body movements to promote relaxation and flexibility. An ancient healing art for mind and body.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Oil Massage</span>
                                    <span class="cs-price">£50</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Thai oil massage blends smooth, flowing strokes with aromatic oils. A deeply relaxing experience that soothes muscles and enhances overall well-being.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Aromatic Oil Massage</span>
                                    <span class="cs-price">£50</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Aromatic oil massage utilizes fragrant essential oils to promote healing and a feeling of well-being. Gentle strokes release tension and boost mental tranquility.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Back & Neck & Shoulder Massage</span>
                                    <span class="cs-price">£50</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Back, Neck & Shoulder Massage targets key tension areas, offering relief from stress and muscle tightness. Ideal for a quick rejuvenation and posture realignment.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Deep Tissue Massage</span>
                                    <span class="cs-price">£50</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Deep tissue massage delves into the body's deeper muscle layers, relieving chronic pain and muscle tightness. Ideal for those with lingering injuries or tension.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot & Legs Massage</span>
                                    <span class="cs-price">£50</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Foot & Legs Massage focuses on soothing tired muscles and improving circulation, providing relief to weary feet and legs. A treat for those on their feet often.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot Masssage</span>
                                    <span class="cs-price">£45</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Foot massage targets specific pressure points, offering relaxation and promoting overall wellness. A soothing treat that can re-energize and balance the body.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Head Massage</span>
                                    <span class="cs-price">£45</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Head massage provides relief from tension, stimulates scalp circulation, and offers deep relaxation. A tranquil escape that can alleviate headaches and stress.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Hot Towel Massage - Foot Spa</span>
                                    <span class="cs-price">£45</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Hot Towel Massage - Foot Spa warms and soothes tired feet, combining moist heat with gentle massage. A luxurious treat that leaves feet feeling refreshed and pampered.
                                </p>
                            </div>
                        </div>
                    </ul>
                </div>
            </section>
        </div>
        <!--90 min-->
        <div id="cs-menu5-1038" class="cs-menu-group" data-category="three">
            <!--90 min Section 1-->
            <section class="cs-menu">
                <div class="cs-container">
                    <div class="cs-menu-list">
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Traditional Masssage</span>
                                    <span class="cs-price">£85</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Thai massage combines acupressure, gentle stretching, and body movements to promote relaxation and flexibility. An ancient healing art for mind and body.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Thai Oil Massage</span>
                                    <span class="cs-price">£80</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Thai oil massage blends smooth, flowing strokes with aromatic oils. A deeply relaxing experience that soothes muscles and enhances overall well-being.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Aromatic Oil Massage</span>
                                    <span class="cs-price">£75</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Aromatic oil massage utilizes fragrant essential oils to promote healing and a feeling of well-being. Gentle strokes release tension and boost mental tranquility.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Back & Neck & Shoulder Massage</span>
                                    <span class="cs-price">£75</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Back, Neck & Shoulder Massage targets key tension areas, offering relief from stress and muscle tightness. Ideal for a quick rejuvenation and posture realignment.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Deep Tissue Massage</span>
                                    <span class="cs-price">£85</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Deep tissue massage delves into the body's deeper muscle layers, relieving chronic pain and muscle tightness. Ideal for those with lingering injuries or tension.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot & Legs Massage</span>
                                    <span class="cs-price">£75</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Foot & Legs Massage focuses on soothing tired muscles and improving circulation, providing relief to weary feet and legs. A treat for those on their feet often.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Foot Masssage</span>
                                    <span class="cs-price">£70</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Foot massage targets specific pressure points, offering relaxation and promoting overall wellness. A soothing treat that can re-energize and balance the body.
                                </p>
                            </div>
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Head Massage</span>
                                    <span class="cs-price">£70</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Head massage provides relief from tension, stimulates scalp circulation, and offers deep relaxation. A tranquil escape that can alleviate headaches and stress.
                                </p>
                            </div>
                        </div>
                        <div class="cs-menu-row">
                            <div class="cs-menu-item">
                                <h3 class="cs-h3">
                                    <span class="cs-name">Hot Towel Massage - Foot Spa</span>
                                    <span class="cs-price">£70</span>
                                </h3>
                                <p class="cs-menu-p">
                                    Hot Towel Massage - Foot Spa warms and soothes tired feet, combining moist heat with gentle massage. A luxurious treat that leaves feet feeling refreshed and pampered.
                                </p>
                            </div>
                        </div>
                    </ul>
                </div>
            </section>
        </div>
        <a href="https://atouchofthai.setmore.com/" target="_blank" rel="noopener" class="cs-button-solid">Book an Appointment</a>
    </div>
</div>
                                

<script>
    class CS_MenuFilter {
    filtersSelector = '.cs-button'
    menuSelector = '.cs-menu-group'
    activeClass = 'cs-active'
    hiddenClass = 'cs-hidden'

    constructor() {
        this.$menus = document.querySelectorAll(this.menuSelector)
        const $filters = document.querySelectorAll(this.filtersSelector)

        this.onClick($filters[0])

        for (const $filter of $filters) {
            $filter.addEventListener('click', () => this.onClick($filter))
        }
    }

    onClick($filter) {
        this.filter($filter.dataset.filter)

        const { activeClass } = this

        this.$activeFilter?.classList.remove(activeClass)
        $filter.classList.add(activeClass)

        this.$activeFilter = $filter
    }

    filter(filter) {
        const showAll = filter == 'all'
        const { hiddenClass } = this

        for (const $menu of this.$menus) {
            const show = showAll || $menu.dataset.category == filter
            $menu.classList.toggle(hiddenClass, !show)
        }
    }
}

new CS_MenuFilter()
                                
</script>
                                



    {% include 'components/cta.html' %}

{% endblock %}