/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {


    #sbs-867 {
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
    
        h1 {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            width: 100%;
            max-width: 100%;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
            position: relative;
        }

        h2, h3, h4, h5, h6 {
            font-weight: 700;
            text-align: inherit;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        h2 {
            font-size: (32/16rem);
            margin-top: (32/16rem);
        }

        h3 {
            font-size: (24/16rem);
            color: var(--primary);
        }

        h4, h5, h6 {
            font-size: (20/16rem);
        }

        .cs-button-solid {
            margin-bottom: (32/16rem);
        }

        .cs-no-margin {
            margin: 0;
        }

        h1, h3 {
            color: var(--primary);
        }
    
        p {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: 0 0 (16/16rem) 0;
            color: var(--bodyTextColor);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }

            a {
                font-size: inherit;
                line-height: inherit;
                text-decoration: underline;
                color: var(--primary);
            }
        }

        ol, ul {
            padding-left: (24/16rem);
            margin: 0 0 (32/16rem) 0;
            color: var(--bodyTextColor);
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        ul {
            li {
                list-style: none;
                color: inherit;
                position: relative;

                &:before {
                    /* custom list bullet */
                    content: '';
                    width: 3px;
                    height: 3px;
                    background: currentColor;
                    opacity: 1;
                    border-radius: 50%;
                    position: absolute;
                    display: block;
                    top: (10/16rem);
                    left: (-12/16rem);
                }
            }
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            max-width: (630/16rem);
            /* 400px - 775px */
            height: clamp(25rem, 70vw, 48.4375rem);
            box-shadow: 0px 2.80579px 42.0868px rgba(0, 0, 0, 0.16);
            /* 100px - 200px */
            
            /* clips img tag corners */
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

}

/* Tablet - 768px */
@media only screen and (min-width: 64rem) {
    #sbs-867 {
        padding: var(--sectionPadding);

        .cs-container {
            flex-direction: row;
            max-width: (1280/16rem);
            justify-content: space-between;
        }

        .cs-content {
            width: 53%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
        }

        .cs-picture {
            width: 47vw;
            position: relative;
        }
    }
}

  /* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-867 {
            background-color: var(--dark);
            
            h1, .cs-text, h2, h3, h4, h5, h6, li, p {
                color: var(--bodyTextColorWhite);
            }
            h1, h3, a {
                color: var(--primaryLight);
            }

            p, li {
                color: #ebebeb;
            }

            .cs-picture {
                border-color: var(--dark);
                background-color: var(--dark);
            }
        }
    }
}


/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #meet-team-860 {
		background-color: #F6F3EE;
        padding: var(--sectionPadding);
        overflow: hidden;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }
    
        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: .1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: (4/16rem);
            display: block;
        }
    
        .cs-title {
            font-size: var(--headerFontSize);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            max-width: (700/16rem);
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
            position: relative;
        }
    
        .cs-title {
            /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            max-width: 20ch;
        }

        

        .cs-card-group {
            width: 100%;
            max-width: (630/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            &:hover {
                .cs-picture {
                    &:before, &:after {
                        opacity: 1;
                    }

                    img {
                        transform: scale(1.1);
                    }
                }

                .cs-info {
                    background-color: var(--primary);
                }

                .cs-name, .cs-job {
                    color: var(--bodyTextColorWhite);
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: auto;
            margin: 0 0 (8/16rem) 0;
            /* removed at tablet */
            aspect-ratio: 328/407;
            border-radius: (16/16rem);
            /* clips the img corners */
            overflow: hidden;
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform .7s;
            }
        }

        .cs-info {
            width: 100%;
            padding: (16/16rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            background-color: var(--primary);
            border-radius: (12/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: background-color .3s;
			
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (4/16rem) 0;
            color: var(--bodyTextColorWhite);
            display: block;
            transition: color .3s;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin-right: 0;
            color: var(--bodyTextColorWhite);
            display: block;
            transition: color .3s;
        }
    }

}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #meet-team-860 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .cs-item {
            width: 100%;
        }

        .cs-picture {
            height: (407/16rem);
            /* remove the aspect ratio so the height can be squished */
            aspect-ratio: initial;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 56.25rem) {
    #meet-team-860 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            text-align: left;
            width: 55%;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-card-group {
            justify-content: center;
            flex-wrap: nowrap;
        }

        .cs-item {
            width: 100%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #meet-team-860 {
            background-color: rgba(0, 0, 0, .2);
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title, .cs-name, .cs-job {
                color: var(--bodyTextColorWhite);
            }

            .cs-job {
                opacity: .8;
            }

            .cs-info {
                background-color: fade(#000, 20%);
            }
        }
    }
}



                                
                                